extends layout

block append body
    .container.theme-showcase(role='main')

        .jumbotron
            h1 Description du site

                p.lead
                    br
                    | Le site se compose de quatre bâtiments, dont deux dotés de quatre étages et donc de 5 niveaux
                    | (les bâtiments A et C) et deux de plain-pied (les bâtiments B et D) dotés d’un seul rez-de-chaussée.
                    | Les batiments C et D sont neufs. Les bâtiments A et B datent d'une quinzaine d'années.
                    br
                    br
                    | Les étages des bâtiments A et C hébergent les bureaux des ligues locataires et le rez-de-chaussée
                    | des quatre bâtiments héberge des espaces mutualisés : un amphithéâtre de 200 places avec une régie,
                    | 8 salles de réunion de 12 à 50 places, un hall d'accueil, une salle de convivialité et son o ce
                    | traiteur, ainsi qu'une salle de formation mul média dotée de 24 postes. On y trouve également la
                    | partie « accueil » des neuf bureaux de l'administration de la M2L. L’autre partie se trouve au
                    | premier étage du bâtiment C. Différents locaux de service (archives, stockage local d'entre en ...)
                    | se trouvent en sous-sol.
                    br
                    br
                    | En fontion de leur taille, les 24 structures hébergées occupent un ou plusieurs bureaux.
                    | Au total, la M2L o re 80 bureaux. A chaque étage des bâtiments de bureaux se trouve une petite
                    | salle de réunion que les ligues utilisent sans réservation. L'ensemble des autres salles ressources
                    | sont accessibles sur réservation, en journée comme en soirée.
                    br
        .page-header
            h3 Implatation des locaux en rez-de-chausée des quatre bâtiments


                p.lead
                    br
                    | Notes : les salles Majorelle, Grüber, Lamour, Longwy, Daum, Gallé, Corbin et Baccarat sont des
                    | salles de réunion disponibles à la réservation. La salle mul média est une salle dédiée aux stages
                    | de formation à inscription libre proposés par le CROSL ou pour les stages organisés par les ligues.
                    | L'amphithéâtre est réservable pour les assemblées générales ou pour d'autres réunions importantes.
                    | La salle de convivialité, et son o ce a enant, est également disponible à la réservation,
                    | souvent pour les repas "traiteur" qui suivent les réunions. Toutes ces salles sont accessibles
                    | en soirée : un système de "digicode" permet d'entrer dans les locaux en dehors des heures
                    | d'ouverture des bureaux.
                    br
                    | La salle de reprographie est un espace commun aux ligues et à l'administration de la M2L.
                    br
                    br
                    | Les ligues ont la possibilité de réserver gratuitement l'amphithéâtre ou la salle de convivialité
                    | une fois par an et six fois les salles de réunion. Au delà, les réservations sont payantes.
                    | D’autres structures extérieures peuvent réserver l’ensemble des salles ressources moyennant finance.
                    br

            h3(id="titre") Implantation des ligues dans les bureaux


                p.lead
                    br
                    | En fonction de leur importance, les ligues et comités départementaux occupent un ou
                    | plusieurs bureaux. Ceux- ci peuvent communiquer entre eux quand ils sont contigus. Chaque bureau
                    | dispose d'un espace de rangement. Les employés et les bénévoles des ligues et CD disposent en bout
                    | d'étage d'une salle de réunion libre, laquelle est accessible seulement en journée et sans
                    | réservation (« premier arrivé, premier servi »). La location se fait sur la base d'un forfait de
                    | charges loca ves par bureau (5€ par m2 et par mois).
                    br
                    br
                    | Plan standard d'étage : l'exemple du deuxième étage du bâtiment A