extends layout
block append head
    script(src = '/javascripts/functions.js')

block append body
    .main.container
        .row
            .col-md-6.col-md-offset-3
            if (!user)
                h3 Connexion obligatoire pour effectuer une réservation /!\
            else
                if(action=='validation')
                    h1 données bien enregistrées !

                else
                    if (action=='new')

                        h1 Les Réservations

                        p Liste de toutes les réservations
                            table
                                tr
                                    th Nom de salle
                                    th Date de début
                                    th Date de fin
                                    th Nom de Stucture
                                    th Email
                                    th Téléphone

                                    tr
                                        td
                                        td
                                        td
                                        td
                                        td
                                        td

                        h1.display-4.m-b-2 Formulaire

                        // register form
                        form(method='POST' action='/reservation', name='form', onsubmit="return validateForm()")
                            div.form-group
                                label(for='name') Nom :
                                input#name.form-control(
                                type='text', placeholder='nom structure' name='nom' required)
                            span(id="errNom")
                            br
                            span(id="errNom2")
                            div.form-group
                                label(for='email') Email :
                                input#email.form-control(type='email', placeholder='nom@email.com' name='email' required)
                            div.form-group
                                label(for='tel') Téléphone
                                input#tel.form-control(type='text', placeholder='0601020304' name='tel' required)
                            span(id="errTel")
                            br
                            span(id="errTel2")
                            div.form-group
                                label(for='dateDebut') Date de début :
                                input#dateDebut.form-control(type='date', name='dateDeb' required)
                            span(id="errDate2")
                            div.form-group
                                label(for='dateDeFin') Date de fin :
                                input#dateDeFin.form-control(type='date',name='dateFin' required)
                            span(id="errDate")
                            br
                            div.form-group
                                |Salle :
                                br
                                select(name="salle" size="1" required=required)
                                    each row in listeSalles
                                        option(value=''+row.id+'') #{row.libelle}
                                br
                                input#utilisateur.form-control(type='hidden', value=user.id, name='utilisateur' required)

                            button.btn.btn-primary(type='submit', value='valider') Valider
                            button.btn.btn-primary(type='reset', onclick='ResetPage()') Annuler
                            //button.btn.btn-primary(type='submit') Modifier